/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header{
    background-color: darkblue;
    padding: 30px;
    text-align: center;
}
nav{
    margin-left: 10px;
    margin-right: 10px;
}
a{
    margin-left: 10px;
    margin-right: 10px;
    color: green;
    font-size: 20px;
}
.home{
    color: green;
    text-decoration: none;
    font-size: 30px;
}
.blog{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
body{
    line-height: 1.5;
}
.hero{
    text-align: center;
}
h1{
    font-size: 36px;
    color: black;
    margin: 20px;
    text-align: center;
}
h2{
    margin: 20px;
    font-size: 35px;
    font-style: oblique;
}
.box{
    height: 100px;
    width: 100px;
    background-color: #99D8CA;
    margin: 0 auto;
    border: 15px solid #5873E2;
    outline: 5PX solid #0D1430;
    box-shadow: 0 0 0 15px #90FFA9;
    border-radius: 5px;
}
.circle{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    padding: 4px;
    vertical-align: middle;
    margin-right: 10px;
}
.marker-container{
   text-align: center;
   margin-top: 40px;
}
.marker{
    margin: 0 16px;
    display: inline-block;
}
.content{
    background-color: #99D8CA;
}
.padding{
    background-color: #0D1430;
}
.border{
    background-color: #90FFA9;
}
.margin{
    background-color: #5873E2;
}
hr{
    width: 600px;
    margin-top: 30px;
    border-style: dashed;
    margin-bottom: 30px;
}
.container{
    width: 660px;
    border: 2px solid black;
    margin: 0 auto;
    font-size: 0;
}
.child{
    width: 200px;
    height: 180px;
    background-color: cadetblue;
    display: inline-block;
    margin: 10px;

}
.child-box{
    width: 200px;
    height: 180px;
    background-color: cadetblue;
    display: inline-block;
    margin: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}
p{
    font-size: 25px;
    margin: 50px;
}
button{
    border-radius: 40px;
    background-color: green;
    padding: 10px;
    font-size: 20px;
    margin-top: 5px;
}
h3{
    font-size: 30px;
    color: blue;
    margin: 20px;
}
.blog-container{
    width: 1300px;
    margin: 0 auto;
}
.left{
    width: 600px;
    display: inline-block;
    vertical-align: top;
}
.right{
    width: 600px;
    display: inline-block;
    vertical-align: top;
}
img{
    width: 100%;
}

